.content {
    background-color: #A9B388;
    height: auto;
}

.header-helper {
    background-color: #8ab8a8;
    color: black;
    height: 7%;
    text-transform: uppercase;
    font-size: larger;
    font-weight: bold;
    font-family: sans-serif;
}
