.eco-logo {
 width: 50px;
 height: auto;
}

nav {
    max-height: 10vh !important;
    background-color: #5F6F52 !important;
}

.btn-outline-dark {
    box-sizing: border-box;
}

.btn-outline-dark:hover {
    background-color: #198754;
    color: white;
    border: none;
}