.content {
    background-color: #A9B388;
}

table {
    width: 100%;
    text-align: left;
}
.mat-elevation-z8{
    width: 80%;
    margin: auto;
}
#legend-span{
    font-size: 0.8em;
}
  
.mat-mdc-form-field {
    font-size: 14px;
    width: 80%;
}

mat-form-field{
    width:50%;
}
  
td, th {
    width: 25%;
}

.main-paragraph {
    color: #5f6f52;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}