<!-- The nav has the links to the pages in the application and is visible in all pages-->
<nav class="navbar navbar-expand-lg">
  <div class="container-fluid">
    <a class="navbar-brand" href="#"><img class='eco-logo' src="./../assets/logo_ecoCatalog.png" alt="eco logo"></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link fw-bold text-white" href="/home">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link fw-bold text-white" href="/donate">Faça uma doação</a>
        </li>
      </ul>
      <form class="d-flex" role="search">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-dark" type="submit">Search</button>
      </form>
    </div>
  </div>
</nav>
<!-- The router outlet changes what information is displayed when we click to go to different route pages /home and /donate -->
<router-outlet></router-outlet>